body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.contact-message { 
    font-size: 14px;
    color: #666;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a img {
    width: 40px;
    height: auto;
}


.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
.comp{
    font-size: 25px;
}

.whatsapp-float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000; /* Ensure it's above other content */
}

.whatsapp-float img {
    width: 60px;
    height: auto;
    border-radius: 50%; /* Makes it round */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.whatsapp-float img:hover {
    transform: scale(1.1); /* Scales up the icon on hover */
}

/* CSS for screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }
    
    .comp {
        font-size: 14px;
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
    
    .social-icons {
        flex-direction: column;
    }
    
    .contact-message {
        display: none;
    }
    
    .whatsapp-float {
        display: none;
    }
}

/* CSS for screens smaller than 375px width (iPhone SE) and 667px height */
@media only screen and (max-width: 375px) and (max-height: 667px) {
    .container {
        padding: 10px;
    }
    
    .comp {
        font-size: 12px;
    }
    
    button {
        font-size: 12px;
        padding: 6px 12px;
    }
    
    .social-icons {
        flex-direction: column;
    }
    
    .contact-message {
        display: none;
    }
    
    .whatsapp-float {
        display: none;
    }
}
